In [1]:
## import packages
import pandas as pd

In [7]:
df = pd.read_csv('C:/Users/anebe/VSCode Projects/CSDS_340/Case Study 1/data/spamTrain1.csv', na_values=[-1], header=0)
df.head()

,0,0.1,0.2,0.0014,0.3,0.4,0.5,0.6,0.7,0.8,...,0.15,0.16,0.17,0.18,0.19,0.20,0.21,0.22,0.0029.1,1
0,0.00,0.0000,0.0,0.0031,NaN,0.0,0.0000,NaN,0.0,0.0000,...,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0031,0.0094,1
1,0.00,NaN,0.0,0.0045,NaN,0.0,0.0000,0.0159,0.0,0.0022,...,NaN,0.0,0.0088,0.0,0.0,0.0,NaN,0.0102,0.0011,1
2,0.00,0.0050,0.0,NaN,0.0,0.0,NaN,0.0000,0.0,0.0000,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0000,0.0133,1
3,0.01,0.0000,0.0,0.0000,0.0,NaN,0.0125,0.0000,0.0,0.0000,...,0.0,0.0,0.0093,0.0,0.0,0.0,0.0,0.0000,0.0000,0
4,0.00,0.0065,0.0,NaN,0.0,0.0,0.0212,0.0000,0.0,NaN,...,0.0,0.0,0.0003,0.0,NaN,0.0,0.0,NaN,0.0000,0